<!doctype html>
<html>
	<head>
		<title>{% block title %}Graduation piece{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" media="screen">
		{% block head %}
		<meta charset='utf-8'>
		<link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}
		{% block script %}{% endblock %}
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	</body>
</html>
