{% extends 'layout.html' %}
{% block body %}
<h1 class="col-xs-12" style="text-align:center;">Upload Image or Video!</h1>
<div class="col-xs-12" style="text-align:center;background-color:#ccc">
  <form id="formData" action="{{ url_for('upload', info='fileinfo') }}" method='POST' enctype=multipart/form-data>
  	<input type="file" name="file">
    <input type="submit" class="btn btn-warning" value="Upload">
  </form>
<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
<span id="status"></span>
<h4 id="finalMessage"></h4>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" language="javascript">
function progressBarSim(al) {
				var bar = document.getElementById('progressBar');
				var status = document.getElementById('status');
				status.innerHTML = al+"%";
				bar.value = al;
				al++;
				var sim = setTimeout("progressBarSim("+al+")",300);
				if(al == 100){
								status.innerHTML = '100%';
								bar.value = 100;
								clearTimeout(sim);
								document.getElementById('finalMessage').innerHTML = "Upload complete";
				}
}
var fileVal=document.getElementById("");
alert(fileVal.value);
var amountLoaded = 0;
progressBarSim(amountLoaded);
</script>
{% endblock %}
