{% extends 'layout.html' %}

{% block body %}

<h1>Video Uploaded Successfully</h1>

<div id='source'>
<video width='320' height='240' autoplay onclick="this.play();">
				<source src="{{ url_for('static', filename='uploads/' ~ request.args.get('filename')) }}" type='video/mp4'>
				Your browser does not support the Video. 
</video>
<p id='caption'>Video File Uploaded</p>
</div>


<iframe width='320' height='240' src="{{ url_for('stream') }}"></iframe>

<div>
<div id='tfdiv'></div>

<form>
				<input id='tffile' type=file name=file>
				<input type=button onclick='fileUpload(this.form, "/upload/tfinfo", "tfdiv"); return false;' value=upload>
</form>
</div>



{% endblock %}

{% block script %}
<script>
/*var video = document.getElementById('source');
video.addEventListener('click', function() {
								video.play();
								}, false);*/
</script>
<script>
	{% include 'js/tfimage.js' %}
</script>
{% endblock %}
