{% extends 'layout.html' %}

{% block body %}

<h1>Video Uploaded Successfully</h1>

<div id='source'>
<video width='320' height='240' autoplay onclick="this.play();">
				<source src="{{ url_for('static', filename='uploads/' ~ request.args.get('filename')) }}" type='video/mp4'>
				Your browser does not support the Video. 
</video>
<p id='caption'>Video File Uploaded</p>
</div>

<iframe src="{{ url_for('stream') }}"></iframe>

{% endblock %}

{% block script %}
<script>
var video = document.getElementById('source');
video.addEventListener('click', function() {
								video.play();
								}, false);
</script>
{% endblock %}
